@import url(https://fonts.googleapis.com/css2?family=Arimo);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
/* ------------------------------------------------ */
html {
	scrollbar-color: orange black;
}
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: orange;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
body {
	background-color: black;
	animation: 1s ease-in 0s 1 fadeIn;
}
/* ------------------------------------------------ */
.navigation-contents {
	display: flex;
	font-family: "Radio Canada Big";
}
.navigation-contents a {
	color: #faac04;
	text-decoration: none;
	font-weight: bold;
	padding: 20px;
	font-size: 35px;
	margin-left: 20px;
	transition: 0.3s ease-in-out;
}
.navigation-contents a:hover {
	color: white;
}
/* ------------------------------------------------ */
.today {
	color: #faac04;
	font-family: "Radio Canada Big";
	padding: 20px;
	margin-left: 20px;
	display: flex;
	justify-content: space-evenly;
}
/* ------------------------------------------------ */
.game1 {
	width: 550px;
	height: 180px;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
}
.game1Names {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
.game1Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
.game1Times {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
/* ------------------------------------------------ */
.game2 {
	width: 550px;
	height: 180px;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
}
.game2Names {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
.game2Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
.game2Times {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
/* ------------------------------------------------ */
.game3 {
	width: 550px;
	height: 180px;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
}
.game3Names {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
.game3Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
.game3Times {
	padding: 20px;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
/* ------------------------------------------------ */
