@import url(https://fonts.googleapis.com/css2?family=Arimo);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
/* ------------------------------------------------ */
html {
	scrollbar-color: orange black;
}
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: orange;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
body {
	background-color: black;
	animation: 1s ease-in 0s 1 fadeIn;
	padding: 1%;
}
/* ------------------------------------------------ */
.navigation-contents {
	display: flex;
	font-family: "Radio Canada Big";
}
.navigation-contents a {
	color: #faac04;
	text-decoration: none;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 35px;
	transition: 0.25s ease-in-out;
}
.navigation-contents a:hover {
	color: white;
}

/* ------------------------------------------------ */
.intro {
	color: #faac04;
	font-family: "Radio Canada Big";
	font-size: 15px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}
/* ------------------------------------------------ */
.scores {
	color: #faac04;
	font-family: "Radio Canada Big";
	padding-left: 1%;
	padding-right: 1%;
}
/* ------------------------------------------------ */
.section1 {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5%;
}
.section2 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
.section3 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
.section4 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
.section5 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
.section6 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
.section7 {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
}
/* ------------------------------------------------ */
#game1 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game1:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game1Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game1Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game1Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game1 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot1 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game2 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game2:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game2Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game2Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game2Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game2 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot2 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game3 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game3:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game3Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game3Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game3Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game3 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}

#topbot3 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game4 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game4:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game4Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game4Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game4Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game4 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot4 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game5 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game5:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game5Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game5Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game5Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game5 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot5 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game6 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game6:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game6Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game6Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game6Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game6 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot6 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game7 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game7:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game7Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game7Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game7Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game7 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot7 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game8 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game8:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game8Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game8Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game8Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game8 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot8 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game9 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game9:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game9Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game9Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game9Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game9 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot9 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game10 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game10:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game10Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game10Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game10Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game10 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot10 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game11 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game11:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game11Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game11Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game11Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game11 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot11 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game12 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game12:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game12Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game12Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game12Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game12 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot12 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game13 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game13:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game13Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game13Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game13Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game13 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot13 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game14 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game14:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game14Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game14Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game14Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game14 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot14 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game15 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game15:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game15Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game15Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game15Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game15 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot15 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game16 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game16:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game16Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game16Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game16Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game16 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot16 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game17 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game17:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game17Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game17Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game17Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game17 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot17 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game18 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game18:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game18Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game18Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game18Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game18 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot18 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game19 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game19:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game19Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game19Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game19Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game19 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot19 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
#game20 {
	width: 32%;
	background-color: rgba(0, 0, 0, 60%);
	border-radius: 10px;
	border: solid 2px white;
	transition: transform 0.25s;
}
#game20:hover {
	transform: scale(1.05);
	border: solid 2px #faac04;
}
#game20Names {
	padding-top: 3.5%;
	padding-bottom: 3%;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}
#game20Scores {
	font-size: 35px;
	display: flex;
	justify-content: space-around;
}
#game20Times {
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
#game20 a {
	text-decoration: none;
	color: #faac04;
	font-family: "Radio Canada Big";
}
#topbot20 {
	padding-right: 2%;
}
/* ------------------------------------------------ */
.disclaimer {
	color: #faac04;
	font-family: "Radio Canada Big";
	font-size: 13px;
	display: flex;
	justify-content: center;
	padding-top: 2%;
}
/* ------------------------------------------------ */
@media only screen and (max-width: 768px) {
	.navigation-contents {
		display: flex;
		justify-content: space-between;
		font-family: "Radio Canada Big";
	}
}
/* ------------------------------------------------ */
@media only screen and (max-width: 768px) {
	.section1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section5 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section6 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.section7 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
}
/* ------------------------------------------------ */
@media only screen and (max-width: 768px) {
	#game1 {
		width: 100%;
		margin-top: 2%;
	}
	#game2 {
		width: 100%;
		margin-top: 5%;
	}
	#game3 {
		width: 100%;
		margin-top: 5%;
	}
	#game4 {
		width: 100%;
		margin-top: 5%;
	}
	#game5 {
		width: 100%;
		margin-top: 5%;
	}
	#game6 {
		width: 100%;
		margin-top: 5%;
	}
	#game7 {
		width: 100%;
	}
	#game8 {
		width: 100%;
	}
	#game9 {
		width: 100%;
	}
	#game10 {
		width: 100%;
	}
	#game11 {
		width: 100%;
	}
	#game12 {
		width: 100%;
	}
	#game13 {
		width: 100%;
	}
	#game14 {
		width: 100%;
	}
	#game15 {
		width: 100%;
	}
	#game16 {
		width: 100%;
	}
	#game17 {
		width: 100%;
	}
	#game18 {
		width: 100%;
	}
	#game19 {
		width: 100%;
	}
	#game20 {
		width: 100%;
	}
	#game1Names {
		font-size: 18px;
	}
	#game2Names {
		font-size: 18px;
	}
	#game3Names {
		font-size: 18px;
	}
	#game4Names {
		font-size: 18px;
	}
	#game5Names {
		font-size: 18px;
	}
	#game6Names {
		font-size: 18px;
	}
	#game7Names {
		font-size: 18px;
	}
	#game8Names {
		font-size: 18px;
	}
	#game9Names {
		font-size: 18px;
	}
	#game10Names {
		font-size: 18px;
	}
	#game11Names {
		font-size: 18px;
	}
	#game12Names {
		font-size: 18px;
	}
	#game13Names {
		font-size: 18px;
	}
	#game14Names {
		font-size: 18px;
	}
	#game15Names {
		font-size: 18px;
	}
	#game16Names {
		font-size: 18px;
	}
	#game17Names {
		font-size: 18px;
	}
	#game18Names {
		font-size: 18px;
	}
	#game19Names {
		font-size: 18px;
	}
	#game20Names {
		font-size: 18px;
	}
}
/* ------------------------------------------------ */
