@import url(https://fonts.googleapis.com/css2?family=Arimo);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
/* ------------------------------------------------ */
html {
	scrollbar-color: orange black;
}
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: orange;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
body {
	background-color: black;
	animation: 1s ease-in 0s 1 fadeIn;
	padding: 1%;
}
/* ------------------------------------------------ */
.navigation-contents {
	display: flex;
	font-family: "Radio Canada Big";
}
.navigation-contents a {
	color: #faac04;
	text-decoration: none;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 35px;
	transition: 0.25s ease-in-out;
}
.navigation-contents a:hover {
	color: white;
}
/* ------------------------------------------------ */
.standings {
	color: #faac04;
	font-family: "Radio Canada Big";
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 5%;
	font-size: 24px;
}
/* ------------------------------------------------ */
.AL {
	padding-bottom: 2%;
	display: flex;
	justify-content: space-around;
}
/* ------------------------------------------------ */
.ALEast {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
.ALCentral {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
.ALWest {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
.NL {
	padding-top: 2%;
	display: flex;
	justify-content: space-around;
}
/* ------------------------------------------------ */
.NLEast {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
.NLCentral {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
.NLWest {
	border: solid 2px white;
	border-radius: 10px;
	padding: 10px;
}
/* ------------------------------------------------ */
@media only screen and (max-width: 768px) {
	.navigation-contents {
		display: flex;
		justify-content: space-between;
		font-family: "Radio Canada Big";
	}
	.standings {
		font-size: 19px;
		margin-top: 2%;
	}
	.NL {
		flex-direction: column;
		padding-top: 0;
	}
	.NLEast {
		margin-bottom: 8%;
	}
	.NLCentral {
		margin-bottom: 8%;
	}
	.NLWest {
		margin-bottom: 8%;
	}
	.AL {
		flex-direction: column;
		padding-bottom: 0;
	}
	.ALEast {
		margin-bottom: 8%;
	}
	.ALCentral {
		margin-bottom: 8%;
	}
	.ALWest {
		margin-bottom: 8%;
	}
}
